md-card(md-whiteframe="10")
  md-toolbar.md-primary(md-whiteframe="5")
    md-card-title
      md-card-title-text.md-toolbar-tools
        span.md-headline
          | Line Chart - Effects of Travel Time on Final Grade
  md-card-content(layout="row" layout-align="center center")
    .chart-div.bubble(flex="70")
      canvas#mixed.chart-bubble(chart-data="lineChart.data" chart-labels="lineChart.labels" chart-options="lineChart.options" chart-dataset-override="lineChart.datasetOverride")
      //- div(ng-if="!lineChart.data.length && !lineChart.labels.length" layout="column" layout-align="center center" layout-margin layout-padding)
      //-   md-subheader.md-primary
      //-     h2 No Data to Display
      //-     h4: i Please Select a Query from the Dropdown