md-card(md-whiteframe="10")
  md-toolbar.md-primary(md-whiteframe="5")
    md-card-title
      md-card-title-text.md-toolbar-tools
        span.md-headline
          | Effects of Travel Time on Final Grade
  md-card-content(layout="row" layout-align="center center")
    .chart-div.bubble(flex="70")
      canvas#mixed.chart-bubble(ng-show="travel.subReady" chart-data="travel.data" chart-series="travel.chart.series" chart-labels="travel.chart.labels" chart-options="travel.chart.options" chart-colors="travel.colors" chart-dataset-override="travel.chart.datasetOverride")
      div(ng-if="!travel.data.length" layout="column" layout-align="center center" layout-margin layout-padding)
        md-subheader.md-primary
          h2 No Data to Display