md-card(md-whiteframe="10")
  md-toolbar.md-primary(md-whiteframe="5")
    md-card-title
      md-card-title-text.md-toolbar-tools
        span.md-headline
          | Bar Chart - Effects on Final Grade Average
  md-card-content(layout="column")
    md-input-container
      label Query Type
      md-icon(md-svg-src="action:ic_help_outline_24px")
      md-select(name="type" ng-model="barChart.type")
        md-option(ng-repeat="type in barChart.types" ng-value="type") {{ type.name }}
    .chart-div(flex="80")
      canvas#bar.chart.chart-bar(ng-if="barChart.data.length && barChart.labels.length" chart-data="barChart.data" chart-labels="barChart.labels" chart-options="barChart.options" ng-cloak)
      div(ng-if="!barChart.data.length && !barChart.labels.length" layout="column" layout-align="center center" layout-margin layout-padding)
        md-subheader.md-primary
          h2 No Data to Display
          h4: i Please Select a Query from the Dropdown