md-toolbar
  .md-toolbar-tools
    h2(flex="15") GreenTree
    span(flex)
    md-button.md-raised.md-mini.md-accent(ui-sref="stuff")
      | Stuff
    md-button.md-raised.md-mini.md-accent(ui-sref="average")
      | Grade Average
    md-button.md-raised.md-mini.md-accent(ui-sref="health")
      | Health Quality
    md-button.md-raised.md-mini.md-accent(ui-sref="travel")
      | Travel Time